<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrendyBeats Music Streaming </title>
    <!-- links -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- script -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./main.js"></script>      
</head>
<body class="bg-color-light-bg">
    <!-- Navigation -->
    <nav class="bg-white px-4 sm:px-8 py-4 border-b border-1 fixed top-0 left-0 right-0 h-16 z-10">
      <div class="flex justify-between items-center gap-4 h-full">
        <!-- Left Navigation -->
        <div class="basis-3/6 md:basis-64">
          <div class="flex items-center gap-2 sm:gap-4">
            <i class="bi bi-soundwave text-color-secondary text-lg sm:text-2xl md:text-3xl"></i>
            <a href="#" class="text-lg  md:text-xl font-semibold">Waveme</a>
          </div>
        </div>
        <!-- Center Navigation -->
        <div class="hidden md:flex basis-auto px-2 w-full">
          <div class="m-auto flex justify-between items-center bg-color-light-bg gap-2 px-4 py-2 rounded-3xl w-9/12">
            <input type="text" placeholder="search..." class="bg-transparent w-full bg-bue-500">
            <i class="fas fa-magnifying-glass"></i>
          </div>
        </div>
        <!-- Right Navigation -->
        <div class="hidden md:flex justify-end basis-2/6 md:basis-96">
            <div class="flex items-center justify-end gap-4">
              <i class="fas fa-magnifying-glass md:hidden text-sm"></i>
              <span class="hidden">Adejumo</span>
              <img src="./assets/img/profile.png" alt="" class="rounded-full w-8 h-8 border-2 hidden">
              <button class="hidden sm:flex text-sm">Sign In</button>
              <button class="px-4 py-2 bg-color-secondary text-color-white hidden md:flex">Sign Up</button>
              <button class="rounded-full bg-color-secondary text-color-white md:hidden px-2">
                <i class="fa fa-user text-color-white text-sm"></i>
              </button>
            </div>
        </div>

        <!-- mobile menu -->
        <i class="fas fa-bars text-md sm:text-xl md:text-xl md:hidden"></i>
        <div class="hidden">
          <div class="absolute top-0 right-0 z-30 bg-color-secondary h-screen w-1/2">
            <div class="flex items-center justify-end">
              <i class="fas fa-xmark text-2xl text-color-white my-8 px-8"></i>
            </div>
            <div class="px-4">
              <div>
                <p class="mb-2 text-color-light-text">Browse</p>
                <ul class="text-color-white">
                  <li class="my-4">
                    <a class="flex items-center cursor-pointer gap-4" href="/index.html">
                      <i class="fa fa-up-right-from-square"></i>
                      <span class="text-[14px] font-[400]">New Release</span>
                    </a>
                  </li>
                  <li class="my-4">
                    <a class="flex items-center cursor-pointer gap-4" href="/discover.html">
                      <i class="fa fa-compact-disc "></i>
                      <span class="text-[14px] font-[400]">Discover</span>
                    </a>
                  </li>
                  <li class="my-4">
                    <a class="flex items-center cursor-pointer gap-4">
                      <i class="fab fa-edge"></i>
                      <span class="text-[14px] font-[400]">Manage</span>
                    </a>
                  </li>
                  <li class="my-4">
                    <a class="flex items-center cursor-pointer gap-4" href="/Popular.html">
                      <i class="fas fa-arrow-trend-up "></i>
                      <span class="text-[14px] font-[400]">Popular</span>
                    </a>
                  </li>
                  <li class="my-4">
                    <a class="flex items-center cursor-pointer gap-4" href="/charts.html">
                      <i class="fas fa-chart-simple"></i>
                      <span class="text-[14px] font-[400]">Charts</span>
                    </a>
                  </li>
                  <li class="my-4">
                    <a class="flex items-center cursor-pointer gap-4" href="/Podcast.html">
                      <i class="fa fa-radio "></i>
                      <span class="text-[14px] font-[400]">Podcast</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                <p class="my-4 text-color-light-text">Library</p>
                <ul class="text-color-white">
                  <li class="my-4">
                    <a class="flex items-center cursor-pointer gap-4">
                      <i class="fas fa-arrow-trend-up "></i>
                      <span class="text-[14px] font-[400]">Stream</span>
                    </a>
                  </li>
                  <li class="my-4">
                    <a class="flex items-center cursor-pointer gap-4">
                      <i class="fas fa-chart-simple"></i>
                      <span class="text-[14px] font-[400]">Playlist</span>
                    </a>
                  </li>
                  <li class="my-4">
                    <a class="flex items-center cursor-pointer gap-4">
                      <i class="fa fa-radio "></i>
                      <span class="text-[14px] font-[400]">Likes</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="flex justify-between items-center bg-color-light-bg gap-2 px-2 rounded-lg">
                <input type="text" placeholder="search..." class="bg-transparent w-full bg-bue-500">
                <i class="fas fa-magnifying-glass"></i>
              </div>
              <div class="flex items-center gap-4 my-4">
                <button class="hidden sm:flex text-sm">Sign In</button>
                <button class="px-4 py-2 bg-color-gray-deep text-color-white">Sign Up</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </nav>
    <!-- main -->
    <section class="relative top-16">
      <!-- aside -->
      <div class="hidden md:block fixed w-48 top-16 px-4 sm:px-8 bg-white py-6 h-full">
        <div>
          <p class="mb-2 text-color-light-text">Browse</p>
          <ul class="ml-2">
            <li class="my-4">
              <a class="flex items-center cursor-pointer gap-4" href="./index.html">
                <i class="fa fa-house text-color-secondary w-4"></i>
                <span class="text-[14px] font-bold">Home</span>
              </a>
            </li>
            <li class="my-4">
              <a class="flex items-center cursor-pointer gap-4" href="/discover.html">
                <i class="fab fa-cc-discover text-red-400 w-4"></i>
                <span class="text-[14px] font-[400]">Discover</span>
              </a>
            </li>
            <li class="my-4">
              <a class="flex items-center cursor-pointer gap-4" href="/Manage.html">
                <i class="fas fa-clone text-red-400 w-4"></i>
                <span class="text-[14px] font-[400]">Manage</span>
              </a>
            </li>
            <li class="my-4">
              <a class="flex items-center cursor-pointer gap-4" href="/Popular.html">
                <i class="fas fa-arrow-trend-up text-red-400  w-4"></i>
                <span class="text-[14px] font-[400]">Popular</span>
              </a>
            </li>
            <li class="my-4">
              <a class="flex items-center cursor-pointer gap-4" href="/charts.html">
                <i class="fas fa-chart-simple text-red-400 w-4"></i>
                <span class="text-[14px] font-[400]">Charts</span>
              </a>
            </li>
            <li class="my-4">
              <a class="flex items-center cursor-pointer gap-4" href="/Podcast.html">
                <i class="fa fa-radio text-red-400  w-4"></i>
                <span class="text-[14px] font-[400]">Podcast</span>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <p class="my-4 text-color-light-text">Library</p>
          <ul class="ml-2">
            <li class="my-4">
              <a class="flex items-center cursor-pointer gap-4">
                <i class="fas fa-arrow-trend-up text-red-400 w-4"></i>
                <span class="text-[14px] font-[400]">Stream</span>
              </a>
            </li>
            <li class="my-4">
              <a class="flex items-center cursor-pointer gap-4">
                <i class="fas fa-chart-simple text-red-400 w-4"></i>
                <span class="text-[14px] font-[400]">Playlist</span>
              </a>
            </li>
            <li class="my-4">
              <a class="flex items-center cursor-pointer gap-4">
                <i class="fa fa-radio text-red-400 w-4"></i>
                <span class="text-[14px] font-[400]">Likes</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- aside footer -->
        <ul class="fixed left-0 bottom-0 px-8 flex flex-col gap-4">
          <li class="">
            <a href="">About Us</a>
          </li>
          <li class="">
            <a href="">Contact Us</a>
          </li>
        </ul>
      </div>
      <!-- contents -->
      <div class="relative w-full md:w-[calc(100%-12rem)] md:left-48 px-4 py-8 md:px-16 md:py-8">
        <!-- Featured -->
        <h1 class="text-4xl font-semibold pt-2">Charts</h1>
        <div class="my-8 flex gap-6">
            <a href="#" class="font-semibold">Monthly Top Chart</a>
            <a href="#">Weekly Top Chart</a>
        </div>   
        <!-- main contents -->
        <div class="grid grid-cols-1 my-2">
          <div class="bg-color-white w-full p-4 rounded-md border my-4">
            <div class="flex flex-col gap-8 md:gap-2 md:flex-row md:items-center md:justify-between">
                <div class="basis-4/12 flex gap-6 items-center px-2">
                    <span class="hidden md:flex" >1</span>
                    <div alt="" class="bg-[url(./assets/img/recommended/Artboard-39.png)] bg-cover relative rounded-md w-24 h-28 flex relative chart-hover"> 
                        <button class="opacity-0 absolute bottom-0 right-4 text-color-white text-lg"><i class="fas fa-circle-play"></i></button>
                    </div>
                    <div>
                        <h3 class="text-md">Album 2020</h3>
                        <span>Hellyson</span>
                    </div>
                </div>
                <div class="basis-3/12 flex gap-4 md:justify-end px-2 ">
                    <a href="" class="flex gap-2">
                        <i class="fa fa-download text-color-text"></i>
                        <span>36.4k</span>
                    </a>
                    <a href="" class="flex gap-2">
                        <i class="fas fa-heart text-color-secondary"></i>
                        <span>19.4k</span>
                    </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</body>
</html>