@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --color-light-background: #f7f8f9;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-secondary: #ff5500;
  --color-text: #212529;
  --color-light-text: #888888;
  --color-gray-deep: rgb(55, 65, 81);

  /* --color-black-background: #212529;
  --color-text-test: #f1f8f9; */

  --container-width-lg: 82%;
  --container-width-md: 90%;
  --container-width-sm: 92%;
}
/* html {
    scroll-behavior: smooth;
} */
body {
  font-family: "Segoe UI", Roboto, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: var(--color-text-test);
  line-height: 1.7;
}

.hover-sho:hover > div {
  display: flex;
}
.hover-lighten:hover > button {
  display: flex;
}
.grad-bg {
  display: block;
}
.chart-hover:hover > button {
  opacity: 1;
}
